<!-- Hello -->
<!--
<% if user_signed_in? %>
  <div style="float:right">
      <%= current_user.username %>
          <%= button_to 'message', edit_user_registration_path, :method=>:get %>
              <%= button_to 'log out', destroy_user_session_path, :method=>:delete %>
                </div>
                <% end %>
          -->
</br>
<h1 align = center> Welcome to Phoenix Online Judge!</h1>