<!-- Hello -->
<!--
<% if user_signed_in? %>
  <div style="float:right">
      <%= current_user.username %>
          <%= button_to 'message', edit_user_registration_path, :method=>:get %>
              <%= button_to 'log out', destroy_user_session_path, :method=>:delete %>
                </div>
                <% end %>
          -->
</br>

<% content_for :overview do %>
	<div class="container" style = "text-align: center">
    <h1>Welcome to Phoenix Online Judge!</h1>
    <p class = "lead">喝最烈的酒，操最爱的人</p>
  </div>
<% end %>