<div class="message">
  <b><%= link_to discuss.title, problem_discuss_path(@problem, discuss, :parent_id => discuss) %></b>
  By <%= link_to "#{discuss.user.username}", users_path(discuss.user) %> at
  <%= discuss.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
</div>