<div class="message">
  <div class="created_at"><%= discuss.created_at.strftime("%B %d, %Y") %></div>
  <div class="content">
    <%= link_to discuss.content, problem_discuss_path(@problem, discuss) %>
  </div>
  <div class="actions">
    <%= link_to "Reply", new_problem_discuss_path(@problem, :parent_id => discuss) %> |
    <%= link_to "Destroy", discuss, :confirm => "Are you sure?", :method => :delete %>
  </div>
</div>
