<% content_for :overview do %>
  <div class="container">
    <h1>Submissions , 我姓掉; 掉手机的掉</h1>  
  </div>
<% end %>  

<%- model_class = Submission -%>
<div class="page-header">
</div>

<dl class="dl-horizontal">
  <div>
    <%= @submission.code %>
  </div>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              problem_submissions_path(@problem), :class => 'btn'  %>
</div>
