<% content_for :overview do %>
  <div class="container">
    <h1>User Profile , 红红火火恍恍惚惚哈哈嘿嘿</h1> 
  </div>
<% end %>
<div class="page-header"></div>

<h2>Log in</h2></br>

<div class="form-horizontal">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="controls-group">
    <label class="control-label">Username: </label>
    <div class="controls">
      <%= f.text_field :username, autofocus: true, class: "input-medium", placeholder: "Username" %>
    </div>
  </div> </br>

    <div class="controls-group">
    <label class="control-label">Username: </label>
    <div class="controls">
      <%= f.password_field :password, autocomplete: "off", class: "input-medium", placeholder: "Password" %>
    </div>
  </div> </br>

	<div class="controls">
  	<%= f.submit "Log in", :class => 'btn' %>
	</div>
<% end %>

</div>