<% content_for :overview do %>
  <div class="container">
    <h1>FAQ , Frequently Asked Questions ..?</h1>  
  </div>
<% end %>

<div class="page-header"></div>

<div class="row">

      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav affix">
          <li class="active"><a href="#typography"><i class="icon-chevron-right"></i> 排版</a></li>
          <li class=""><a href="#code"><i class="icon-chevron-right"></i> 代码</a></li>
          <li class=""><a href="#tables"><i class="icon-chevron-right"></i> 表格</a></li>
          <li class=""><a href="#forms"><i class="icon-chevron-right"></i> 表单</a></li>
          <li class=""><a href="#buttons"><i class="icon-chevron-right"></i> 按钮</a></li>
          <li class=""><a href="#images"><i class="icon-chevron-right"></i> 图片</a></li>
          <li><a href="#icons"><i class="icon-chevron-right"></i> 由Glyphicons提供的图标</a></li>
        </ul>
      </div>

</div>
