// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  div#header{background-color: #990033;}
  div#menu{background-color: #990033;
      height :500px;
      width:150px;
      margin:0;
      float:left;
  }
  div#content0{background-color: #CC6600;
     float:center;
     height:500px;
     margin:0;
  }
  div#content1{display:none;
    background-color:#CC6600;
    float:center;   
    height:500px;
    margin:0;
  }
  div#content2{display:none;
    background-color:#CC6600;
    float:center;
    height:500px;
    margin:0;
  }
